version: "3.9"
services:
  wed:
    build: .
    container_name: fastapi
    external_links: 
      - db_postgres:db_postgres
    volumes:
      - ./src:/src
    ports:
      - "80:80"
  postgres:
    image: postgres:13.3
    container_name: db_postgres
    env_file:
      - path: ./.env
    volumes:
      - .:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"